In [73]:
import numpy as np
import pandas as pd

In [74]:
data=pd.read_csv("C:\\Users\\nisha\\OneDrive\\Documents\\Capture.csv")
data

             Name Give Birth Can Fly Live in Water Have Legs        Class
0           human        yes      no            no       yes      mammals
1          python         no      no            no        no  non-mammals
2          salmon         no      no           yes        no  non-mammals
3           whale        yes      no           yes        no      mammals
4            frog         no      no     sometimes       yes  non-mammals
5          komodo         no      no            no       yes  non-mammals
6             bat        yes     yes            no       yes      mammals
7          pigeon         no     yes            no       yes  non-mammals
8             cat        yes      no            no       yes      mammals
9   leopard shark        yes      no           yes        no  non-mammals
10         turtle         no      no     sometimes       yes  non-mammals
11        penguin         no      no     sometimes       yes  non-mammals
12      porcupine        yes      no            no       yes      mammals
13            eel         no      no           yes        no  non-mammals
14     salamander         no      no     sometimes       yes  non-mammals
15   gila monster         no      no            no       yes  non-mammals
16       platypus         no      no            no       yes      mammals
17            owl         no     yes            no       yes  non-mammals
18        dolphin        yes      no           yes        no      mammals
19          eagle         no     yes            no       yes  non-mammals

In [75]:
list1=[list(row) for row in data.values]
m=0
nm=0

for i in range(0,len(list1)):
    if(list1[i][5]=="mammals"):
     m+=1
               
    else:
     nm+=1
print("Total number of mammalas",m)
print("Total number of non-mammals",nm)

Total number of mammalas 7
Total number of non-mammals 13

In [76]:
def bayesx(X_):
    data1=data[X_]
    prob=[1,1,1]
    list2=[list(row) for row in data1.values]
    for j in range(0,len(X_)-1):
        mam=0
        nmam=0
        for i in range(0,len(list2)):
            if((j==0 and list2[i][j]=="yes") or (j==1 and list2[i][j]=="no") or (j==2 and list2[i][j]=="yes") or (j==3 and list2[i][j]=="no")):
                if(list2[i][4]=="mammals"):
                    mam+=1
                else:
                    nmam+=1
        
        temp=prob.pop(0)
        prob.insert(0,temp*(mam/m))
        temp1=prob.pop(1)
        prob.insert(1,temp*(nmam/nm))
    
    x_prob_mam=prob.pop(0);
    x_prob_nonmam=prob.pop(0);
    total=x_prob_mam + x_prob_nonmam
    prob.insert(0,x_prob_mam/total)
    prob.insert(1,x_prob_nonmam/total)
    print("Mammals",prob[0])
    print("Non Mammals",prob[1])
    
    if(prob[0]>prob[1]):
        print("Mammal")
    else:
        print("Non Mammal")

In [77]:
def bayesy(Y_):
    data1=data[Y_]
    prob=[1,1,1]
    list2=[list(row) for row in data1.values]
    for j in range(0,len(Y_)-1):
        mam=0
        nmam=0
        for i in range(0,len(list2)):
            if((j==0 and list2[i][j]=="no") or (j==1 and list2[i][j]=="yes") or (j==2 and list2[i][j]=="no") or (j==3 and list2[i][j]=="yes")):
                if(list2[i][4]=="mammals"):
                    mam+=1
                else:
                    nmam+=1
        
        temp=prob.pop(0)
        prob.insert(0,temp*(mam/m))
        temp1=prob.pop(1)
        prob.insert(1,temp*(nmam/nm))
    
    y_prob_mam=prob.pop(0);
    y_prob_nonmam=prob.pop(0);
    total=y_prob_mam + y_prob_nonmam
    prob.insert(0,y_prob_mam/total)
    prob.insert(1,y_prob_nonmam/total)
    print("Mammals",prob[0])
    print("Non Mammals",prob[1])
    
    if(prob[0]>prob[1]):
        print("Mammal")
    else:
        print("Non Mammal")

In [78]:
def bayesz(Z_):
    data1=data[Z_]
    prob=[1,1,1]
    list2=[list(row) for row in data1.values]
    for j in range(0,len(Z_)-1):
        mam=0
        nmam=0
        for i in range(0,len(list2)):
            if((j==0 and list2[i][j]=="yes") or (j==1 and list2[i][j]=="no") or (j==2 and list2[i][j]=="no") or (j==3 and list2[i][j]=="yes")):
                if(list2[i][4]=="mammals"):
                    mam+=1
                else:
                    nmam+=1
        
        temp=prob.pop(0)
        prob.insert(0,temp*(mam/m))
        temp1=prob.pop(1)
        prob.insert(1,temp*(nmam/nm))
    
    z_prob_mam=prob.pop(0);
    z_prob_nonmam=prob.pop(0);
    total=z_prob_mam + z_prob_nonmam
    prob.insert(0,z_prob_mam/total)
    prob.insert(1,z_prob_nonmam/total)
    print("Mammals",prob[0])
    print("Non Mammals",prob[1])
    
    if(prob[0]>prob[1]):
        print("Mammal")
    else:
        print("Non Mammal")

In [79]:
X_=["Give Birth","Can Fly","Live in Water","Have Legs","Class"]
bayesx(X_)

Mammals 0.4814814814814815
Non Mammals 0.5185185185185186
Non Mammal

In [83]:
Y_=["Give Birth","Can Fly","Live in Water","Have Legs","Class"]
bayesy(Y_)

Mammals 0.5078125
Non Mammals 0.4921875
Mammal

In [84]:
Z_=["Give Birth","Can Fly","Live in Water","Have Legs","Class"]
bayesz(Z_)

Mammals 0.5078125
Non Mammals 0.49218749999999994
Mammal